{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sound Library{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sound Library</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}
    <d1>
      {{ wtf.form_field(form.search_field, class='form-control', placeholder='Search') }}
    </d1>
    <p><input type=submit class='btn btn-warning btn-block'>
  </form>
</div>
{% endblock %}