{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import audio_player with context %}

{% block navbar_add %}
<form class="navbar-form navbar-left form-inline" method="post" role="search">
  <div class="input-group">
    <input class="form-control" id="sound_input" type="text" placeholder="Search">
  </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#sound_input").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#sound_list li").filter(function () {
        $(this).toggle($(this).find(".name").text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
  <ul class="list-group" id="sound_list">
    {% for item in sounds %}
    <li class="list-group-item text-center">
      <h3 class="name"><a href="{{ url_for('main_bp.sound', id=item.id) }}">{{ item.name }}</a></h3>
      {{ audio_player(item.path) }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}